@import url('./Fonts.css');

:root {
  --primary: #3077c6;
  --primary-dark: #10367c;
  --secondary: #f5bd41;
  --base-dark-mode100: #121212;
  --base-dark-mode200: #1d1e1f;
  --base-dark-mode300: #4d4d4d;
  --base-stroke-main: #f3f3f4;
  --base-text-color100: #383838;
  --base-text-color300: #bfbfbf;
  --base-white: #ffffff;
  --base-bg-color: #eaf0f9;
  --col-size: calc(100% / 12);
  --base-font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  color: var(--base-text-color100);
}

.sprite_ {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;
}

.top {
  min-height: 100vh;
  background-color: rgba(18, 18, 18, 0.25);
  background-image: url("../img/castelmezzano.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo_trip_icon {
  width: 205px;
  height: 40px;
  fill: var(--primary);
}

.night_icon {
  width: 30px;
  height: 30px;
}

.account_icon {
  width: 40px;
  height: 40px;
}

.mob_menu_icon {
  display: none;
}

.menu {
  display: flex;
}

.menu_nav {
  display: flex;
  align-items: center;
}

.menu_settings {
  display: flex;
  align-items: center;
}

.nav_item {
  display: flex;
  margin-right: 24px;
}

.set_item {
  margin-left: 24px;
}

.top_section {
  padding-top: 0;
}

a {
  color: var(--base-white);
  text-decoration: none;
  font-size: 24px;
}


a.item1:before,
a:hover:before {
  content: '';
  --line-width: 50px;
  display: block;
  width: var(--line-width);
  height: 4px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -10px;
  left: calc(50% - (var(--line-width) / 2));
  transform: scale(1);
}

a.item2:hover:before {
  --line-width: 100px;
}

.item1 {
  position: relative;
}

.item2 {
  position: relative;
}

.dsc {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
}

.disc {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: 500;
  color: var(--base-white);
}

.check {
  display: flex;
  color: var(--base-white);
  font-size: 18px;
  padding-bottom: 20px;
}

.checked1 {
  margin-left: 25px;
  color: inherit;
}

.checked2 {
  margin-left: 225px;
  color: inherit;
}

.formblock {
  display: inline-block;
  width: 1232px;
  height: 65px;
  margin-bottom: 120px;
}

.form_sp {
  background-color: var(--base-white);
  border-radius: 8px;
  height: 64px;
}

select {
  font-size: 18px;
  height: 64px;
  appearance: none;
  border-radius: 8px;
  padding-top: 5px;
}

.f1 {
  width: 463px;
  padding-left: 28px;
  border: none;
}

.f2 {
  width: 260px;
  border-color: var(--secondary);
  border-width: 3px;
  padding-left: 22px;
}

.f3 {
  width: 306px;
  padding-left: 26px;
  border: none;
}

.blbutton {
  border: none;
  border-radius: 8px;
  width: 195px;
  height: 65px;
  background-color: var(--primary);
  color: var(--base-white);
  font-size: 24px;
  margin-right: -5px;
}


.download_icons {
  display: flex;
  justify-content: center;
}

.google_icon {
  width: 135px;
  height: 40px;
}

.apple_icon {
  width: 120px;
  height: 40px;
  margin-left: 16px;
}

.tcenter {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 100px;
  position: relative;
}

h2.active:before,
h2.active:hover:before,
h2.active:after,
h2.active:hover:after {
  content: '';
  --line-width: 100px;
  display: block;
  width: var(--line-width);
  height: 4px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -24px;
  left: calc(50% - (var(--line-width) / 2));
  transform: scale(1);
}

h2.active:before {
  transition: transform 400ms ease-out;
}

h2.active:hover:before {
  background-color: var(--secondary);
  transform: scale(3);
}

span.textblock {
  display: block;
  font-weight: 400;
  font-size: var(--base-font-size);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.offer svg {
  font-size: 95px;
  color: var(--primary);
  margin-bottom: 45px;
}

.col-3.tcenter.col-md-6.col-xs-6 {
  padding-bottom: 0;
}

/*не  получилось сменить цвет, пока не удалил заливку из данных спрайта*/

.homes {
  min-height: 100vh;
  background-color: var(--base-bg-color);
}

.homes.container {
  padding: 120px 4px;
}

/* смещение*/

.homes_pic.container {
  padding: 0 4px;
  margin-top: -16px;
  margin-bottom: -56px;
}

.homes_pic {
  display: flex;
}

.homes h2 {
  margin-bottom: 115px;
}

div.descr {
  font-size: var(--base-font-size);
  color: var(--primary);
  margin: 20px 0 8px;
}

div.placement {
  font-size: var(--base-font-size);
  color: var(--base-text-color300);
}

figcaption {
  position: relative;
}

.homes figcaption svg {
  font-size: 48px;
  fill: var(--base-white);
  position: absolute;
  left: 895px;
  top: -195px;
}

.destination.container {
  padding-bottom: 0;
}

.destination h2 {
  margin-bottom: 100px;
}

.dest_button {
  display: inline-flex;
  background-color: var(--base-stroke-main);
  max-width: 624px;
  border: none;
  border-radius: 8px;
  margin-bottom: 56px;
}

.region_0 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 64px;
  border-radius: 8px;
  font-size: var(--base-font-size);
}

.region_0:active {
  background-color: var(--primary);
  color: var(--base-white);
}

.region_0:last-child {
  width: 240px;
}

.destination_pic.container {
  display: flex;
  padding: 0 0 100px;
}

/*из-за разницы в размерах картинки есть разница в отступах*/

.placement_ {
  font-size: var(--base-font-size);
  color: var(--primary);
  margin-top: 20px;
}

.destination {
  position: relative;
}

.button_destination_bkn {
  display: none;
}

.dest_img1:hover,
.button_destination_bkn {
  display: block;
}

/*не работает ховер */

.destination svg {
  font-size: 48px;
  fill: var(--base-white);
  position: relative;
  left: 592px;
  bottom: 60px;
}

.sign_up.container {
  margin-top: 5px;
  align-items: center;
  padding: 24px;
  width: 1232px;
  display: flex;
  height: 200px;
  background-color: var(--base-stroke-main);
  font-size: var(--base-font-size);
  font-weight: 500;
}

.sign_title {
  display: flex;
  flex-direction: column;
}

.sign_up .cont {
  margin-right: 24px;
  font-size: 86px;
}

.sign_text {
  border-width: 2px;
  border-radius: 8px;
  border: var(--primary);
}

.sign_up_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid var(--primary); /*??? цвет  и граница  не задавались через цвет границы и ширину в длинном варианте ???*/
  color: var(--primary);
  margin: 20px 0 10px 0;
}

.sign_up {
  position: relative;
}

.sign_svg {
  position: absolute;
  left: 96%;
  bottom: 70%;
  font-size: 26px;
}

/*разница в отступах между кнопкой*/

.guests_reviews {
  display: flex;
  font-size: 18px;
  line-height: 21px;

}
.rev_descr{
  padding: 24px;
}
.spc_btw{
  display: flex;
 justify-content: space-between;
  align-items: center;
}
.name_placer{
  display: flex;
  margin-top: 30px;
  margin-bottom: 24px;
}
.hotel_name{
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 16px;
}
.hotel_place {
  color: var(--primary);
}

.rev_number {
  font-size: 14px;
  color: var(--base-text-color300);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 32px;
  background-color: var(--primary-dark);
  font-family: 'OpenSans-Regular', sans serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--base-white);
  border-radius: 8px;
}

.rev_item {
  width: 400px;
  background-color: var(--base-bg-color);
  flex-direction: row;
}

.rev_mrgn {
  margin-right: 16px;
  margin-left: 16px;
}

.rev_acc_icon {
  font-size: 53px;
  margin-right: 22px;
  padding-left: 5px;
  /* fill: red; не закрашивается, только в цвет бэкграунда*/

}
.rev_name{
  margin-bottom: 8px;
}
.rev_banner1 {
  width: 82px;
  height: 19px;
}

.rev_banner2 {
  width: 57px;
  height: 19px;
}

.rev_banner3 {
  width: 95px;
  height: 21px;
}

[class*="col"] {
  flex-grow: 1;
  padding: 8px;
}

[class*="col-"] {
  flex-grow: 0;
}

.col-1 {
  width: var(--col-size);
}

.col-2 {
  width: calc(var(--col-size) * 2);
}

.col-3 {
  width: calc(var(--col-size) * 3);
}

.col-4 {
  width: calc(var(--col-size) * 4);
}

.col-5 {
  width: calc(var(--col-size) * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(var(--col-size) * 7);
}

.col-8 {
  width: calc(var(--col-size) * 8);
}

.col-9 {
  width: calc(var(--col-size) * 9);
}

.col-10 {
  width: calc(var(--col-size) * 10);
}

.col-11 {
  width: calc(var(--col-size) * 11);
}

.col-12 {
  width: 100%;
}

.footer {
  font-size: 20px;
  background-color: #10367C;
  border: none;
}

.mob_footer {
  display: none;
}

.footer_list {
  display: flex;
  color: var(--base-white);
  margin-top: -5px;
}

/*.list1{ выравнивание футера блоками по сетке - выглядит лучше списков*/
/*  padding-left: 0px;*/
/*  line-height: 48px;*/
/*}*/
/*.list2{*/
/*  padding-left: 5px;*/
/*  line-height: 48px;*/
/*}*/
/*.list3{*/
/*  line-height: 48px;*/
/*  padding-left: 10px;*/
/*}*/

.list1 {
  padding: 0;
}

.list2 {
  margin-top: -5px;
  padding-left: 5px;
}

.list3 {
  margin-top: -5px;
  padding-left: 10px;
}

li {
  margin-bottom: 24px;
}


@media screen and (max-width: 1024px) {

  span.textblock {
    margin-bottom: 20px;
  }

  /*селекторы не подключаются*/
  .col-md-1 {
    width: var(--col-size);
  }

  .col-md-2 {
    width: calc(var(--col-size) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-size) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-size) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-size) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-size) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-size) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-size) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-size) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-size) * 11);
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  span.textblock {
    margin-bottom: 20px;
  }

  /*селекторы не подключаются*/
  .col-md-1 {
    width: var(--col-size);
  }

  .col-md-2 {
    width: calc(var(--col-size) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-size) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-size) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-size) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-size) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-size) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-size) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-size) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-size) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .footer {
    font-size: 16px;
    background-color: #10367C;
    border: none;
  }
}


@media screen and (max-width: 360px) {
  :root {
    --col-size: calc(100 / 6);
  }

  .col-xs-1 {
    width: var(--col-size);
  }

  .col-xs-2 {
    width: calc(var(--col-size) * 2);
  }

  .col-xs-3 {
    width: calc(var(--col-size) * 3);
  }

  .col-xs-4 {
    width: calc(var(--col-size) * 4);
  }

  .col-xs-5 {
    width: calc(var(--col-size) * 5);
  }

  .col-xs-6 {
    width: 100%;
  }

  .top {
    min-height: 100vh;
    background-color: rgba(18, 18, 18, 0.25);
    background-image: url("../img/mob_castelmezzano.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: border-box;
    flex-direction: column;
    justify-content: space-between;
  }

  .container.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 52px;
  }

  .logo_trip_icon {
    width: 122px;
    height: 24px;
    fill: var(--primary);
  }

  .night_icon {
    width: 24px;
    height: 24px;
  }

  .account_icon {
    width: 16px;
    height: 16px;
  }

  .mob_menu_icon {
    width: 24px;
    height: 16px;
  }

  .menu {
    display: none;
  }

  .menu_settings {
    display: flex;
    align-items: center;
  }

  .nav_item {
    display: flex;
    margin-right: 24px;
  }

  .set_item {
    margin-left: 24px;
  }

  .top_section {
    padding-top: 0;
  }

  a {
    color: var(--base-white);
    text-decoration: none;
    font-size: 24px;
  }

  a:hover:before,
  a.item1:after {
    content: '';
    --line-width: 50px;
    display: block;
    width: var(--line-width);
    height: 4px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -10px;
    left: calc(50% - (var(--line-width) / 2));
    transform: scale(1);
  }

  a.item2:hover:before {
    --line-width: 100px;
  }

  .item1 {
    position: relative;
  }

  .item2 {
    position: relative;
  }

  .dsc {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .disc {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: 500;
    color: var(--base-white);
  }

  .check {
    display: flex;
    color: var(--base-white);
    font-size: 18px;
    padding-bottom: 20px;
  }

  .checked1 {
    margin-left: 25px;
    color: inherit;
  }

  .checked2 {
    margin-left: 225px;
    color: inherit;
  }

  .formblock {
    display: inline-block;
    width: 1232px;
    height: 65px;
    margin-bottom: 120px;
  }

  .form_sp {
    background-color: var(--base-white);
    border-radius: 8px;
    height: 64px;
  }

  select {
    font-size: 18px;
    height: 64px;
    appearance: none;
    border-radius: 8px;
    padding-top: 5px;
  }

  .f1 {
    width: 463px;
    padding-left: 28px;
    border: none;
  }

  .f2 {
    width: 260px;
    border-color: var(--secondary);
    border-width: 3px;
    padding-left: 22px;
  }

  .f3 {
    width: 306px;
    padding-left: 26px;
    border: none;
  }

  .blbutton {
    border: none;
    border-radius: 8px;
    width: 195px;
    height: 65px;
    background-color: var(--primary);
    color: var(--base-white);
    font-size: 24px;
    margin-right: -5px;
  }


  .download_icons {
    display: flex;
    justify-content: center;
  }

  .google_icon {
    width: 135px;
    height: 40px;
  }

  .apple_icon {
    width: 120px;
    height: 40px;
    margin-left: 16px;
  }


  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2 {
    margin-top: -16px;
    font-size: 28px;
    margin-bottom: 25px;
  }

  .offer svg {
    font-size: 64px;
    color: var(--primary);
    margin-bottom: 16px;
  }

  span.textblock {
    font-size: 15px;
    margin-bottom: 20px;
  }

  span.textblock.mrgn0 {
    margin-bottom: 0;
  }

  /*.col-xs-6 span.textblock:last-child {
    margin-bottom: 0;
  } почему-то сбрасываются все отступы textblock, а не последнего/*

  /*.support_icon {*/
  /*  width: 52px;*/
  /*  height: 64px;*/
  /*}*/
  /*.cmnctn_icon {*/
  /*  width: 58px;*/
  /*  height: 58px;*/
  /*}*/
  /*.book_icon {*/
  /*  width: 70px;*/
  /*  height: 46px;*/
  /*}*/
  /*.review_icon {*/
  /*  width: 64px;*/
  /*  height: 58px;*/
  /*} при ссылке через класс размеры получаются более точными, но нужно делать отдельные отступы из-за разницы в размерах между иконками */
  .mob_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: -80px;
  }

  .footer_list {
    display: none;
  }

  .line {
    display: none;
  }

  .mob_footer svg {
    width: 98px;
    height: 19px;
    fill: var(--base-white);
  }

  .mob_footer_list a {
    display: inline-flex;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 24px;
  }

  .mob_f_href {
    color: var(--base-white);
    margin: -3px;
  }

  .copy {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--base-white);
  }
}

