@import url('./Fonts.css');

:root {
  --primary: #3077c6;
  --primary-dark: #10367C;
  --secondary: #f5bd41;
  --base-dark-mode100: #121212;
  --base-dark-mode200: #1d1e1f;
  --base-dark-mode300: #4d4d4d;
  --base-stroke-main: #f3f3f4;
  --base-text-color100: #383838;
  --base-text-color300: #bfbfbf;
  --base-white: #ffffff;
  --base-bg-color: #eaf0f9;
  --col-size: calc(100% / 12);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  color: var(--base-text-color100);
}

.sprite_ {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;
}

.top {
  min-height: 100vh;
  background-color: rgba(18, 18, 18, 0.25);
  background-image: url("../img/castelmezzano.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: border-box;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}


.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo_trip_icon {
  width: 205px;
  height: 40px;
  fill: var(--primary);
}

.night_icon {
  width: 30px;
  height: 30px;
}

.account_icon {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
}

.menu_nav {
  display: flex;
  align-items: center;

}

.menu_settings {
  display: flex;
  align-items: center;
}

.nav_item {
  display: flex;
  margin-right: 24px;
}

.set_item {
  margin-left: 24px;
}

.top_section {
  padding-top: 0;
}

a {
  color: var(--base-white);
  text-decoration: none;
  font-size: 24px;
}

/*a .hr_line { линия, ховер*/
/*  width: 50px;*/
/*  height: 4px;*/
/*  background-color: var(--secondary);*/
/*  border: none;*/
/*  margin-top: 9px;*/
/*}*/


.dsc {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
}

.disc {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: 500;
  color: var(--base-white);
}

.check {
  display: flex;
  color: var(--base-white);
  font-size: 18px;
  padding-bottom: 20px;
}

.checked1 {
  margin-left: 25px;
  color: inherit;
}

.checked2 {
  margin-left: 225px;
  color: inherit;
}

.formblock {
  display: inline-block;
  width: 1232px;
  height: 65px;
  margin-bottom: 120px;
}

.form_sp {
  background-color: var(--base-white);
  border-radius: 8px;
  height: 64px;
}

select {
  font-size: 18px;
  height: 64px;
  appearance: none;
  border-radius: 8px;
  padding-top: 5px;
}

.f1 {
  width: 463px;
  padding-left: 28px;
  border: none;
}

.f2 {
  width: 260px;
  border-color: var(--secondary);
  border-width: 3px;
  padding-left: 22px;
}

.f3 {
  width: 306px;
  padding-left: 26px;
  border: none;
}

.blbutton {
  border: none;
  border-radius: 8px;
  width: 195px;
  height: 65px;
  background-color: var(--primary);
  color: var(--base-white);
  font-size: 24px;
  margin-right: -5px;
}


.download_icons {
  display: flex;
  justify-content: center;
}

.google_icon {
  width: 135px;
  height: 40px;
}

.apple_icon {
  width: 120px;
  height: 40px;
  margin-left: 16px;
}


.tcenter {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.line {
  width: 100px;
  height: 4px;
  margin: 20px auto 75px;
  background-color: var(--secondary);
  border: none;
}

span.textblock {
  display: block;
  font-weight: 400;
  font-size: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.offer svg {
  font-size: 95px;
  color: var(--primary);
  margin-bottom: 48px;
}

/*не  получилось сменить цвет, пока не удалил заливку из данных спрайта*/

[class*="col"] {
  flex-grow: 1;
  padding: 8px;
}

[class*="col-"] {
  flex-grow: 0;
}

.col-1 {
  width: var(--col-size);
}

.col-2 {
  width: calc(var(--col-size) * 2);
}

.col-3 {
  width: calc(var(--col-size) * 3);
}

.col-4 {
  width: calc(var(--col-size) * 4);
}

.col-5 {
  width: calc(var(--col-size) * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(var(--col-size) * 7);
}

.col-8 {
  width: calc(var(--col-size) * 8);
}

.col-9 {
  width: calc(var(--col-size) * 9);
}

.col-10 {
  width: calc(var(--col-size) * 10);
}

.col-11 {
  width: calc(var(--col-size) * 11);
}

.col-12 {
  width: 100%;
}

.footer {
  font-size: 20px;
  background-color: #10367C;
  border: none;
}

.mob_footer {
  display: none;
}

.footer_list {
  display: flex;
  color: var(--base-white);
  margin-top: -5px;
}

/*.list1{ выравнивание футера блоками по сетке - выглядит лучше списков*/
/*  padding-left: 0px;*/
/*  line-height: 48px;*/
/*}*/
/*.list2{*/
/*  padding-left: 5px;*/
/*  line-height: 48px;*/
/*}*/
/*.list3{*/
/*  line-height: 48px;*/
/*  padding-left: 10px;*/
/*}*/

.list1 {
  padding: 0;
}

.list2 {
  margin-top: -5px;
  padding-left: 5px;
}

.list3 {
  margin-top: -5px;
  padding-left: 10px;
}

li {
  margin-bottom: 24px;
}

@media screen and (max-width: 360px) {
  :root {
    --col-size: calc(100 / 6);
  }

  .col-xs-1 {
    width: var(--col-size);
  }

  .col-xs-2 {
    width: calc(var(--col-size) * 2);
  }

  .col-xs-3 {
    width: calc(var(--col-size) * 3);
  }

  .col-xs-4 {
    width: calc(var(--col-size) * 4);
  }

  .col-xs-5 {
    width: calc(var(--col-size) * 5);
  }

  .col-xs-6 {
    width: 100%;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2 {
    margin-top: -16px;
    font-size: 28px;
    margin-bottom: 25px;
  }

  .offer svg {
    font-size: 64px;
    color: var(--primary);
    margin-bottom: 16px;
  }

  .offer span.textblock {
    font-size: 15px;
    margin-bottom: 20px;
  }

  /*.support_icon {*/
  /*  width: 52px;*/
  /*  height: 64px;*/
  /*}*/
  /*.cmnctn_icon {*/
  /*  width: 58px;*/
  /*  height: 58px;*/
  /*}*/
  /*.book_icon {*/
  /*  width: 70px;*/
  /*  height: 46px;*/
  /*}*/
  /*.review_icon {*/
  /*  width: 64px;*/
  /*  height: 58px;*/
  /*} при ссылке через класс размеры получаются более точными, но нужно делать отдельные отступы из-за разницы в размерах между иконками */
  .mob_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: -80px;
  }

  .footer_list {
    display: none;
  }

  .line {
    display: none;
  }

  .mob_footer svg {
    width: 98px;
    height: 19px;
    fill: var(--base-white);
  }

  .mob_footer_list a {
    display: inline-flex;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 24px;
  }

  .mob_f_href {
    color: var(--base-white);
    margin: -3px;
  }

  .copy {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--base-white);
  }
}


