@import url('./Fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.sprite_ {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.top {
  min-height: 100vh;
  background-color: rgba(18, 18, 18, 0.25);
  background-image: url("../img/castelmezzano.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: border-box;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo_trip_icon {
  width: 205px;
  height: 40px;
  fill: #3077C6;
}

.night_icon {
  width: 30px;
  height: 30px;
}

.account_icon {
  width: 40px;
  height: 40px;
}

.google_icon {
  width: 135px;
  height: 40px;
}

.apple_icon {
  width: 120px;
  height: 40px;
  margin-left: 16px;
}

.menu {
  display: flex;
}

.menu_nav {
  display: flex;
  align-items: center;

}

.menu_settings {
  display: flex;
  align-items: center;
}

.nav_item {
  display: flex;
  margin-right: 24px;
}

.set_item {
  margin-left: 24px;
}

.top_section {
  display: inline;
  padding-top: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

a .hr_li1ne {
  width: 50px;
  height: 4px;
  background-color: #f5bd41;
  border: none;
  margin-top: 9px;
}


.dsc {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
}

.disc {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

.check {
  display: flex;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 24px;
}

.checked1 {
  margin-left: 25px;
}

.checked2 {
  margin-left: 225px;
}

.formblock {
  display: inline-block;
  width: 1232px;
  height: 65px;
  margin-bottom: 120px;
}

.form_sp {
  background-color: white;
  border-radius: 8px;
  height: 64px;
}

select {
  font-size: 18px;
  height: 64px;
  appearance: none;
  border-radius: 8px;
  padding-top: 5px;
}

.f1 {
  width: 463px;
  padding-left: 28px;
  border: none;
}

.f2 {
  width: 260px;
  border-color: #f5bd41;
  border-width: 3px;
  padding-left: 22px;
}

.f3 {
  width: 306px;
  padding-left: 26px;
  border: none;
}

.blbutton {
  border: none;
  border-radius: 8px;
  width: 195px;
  height: 65px;
  background-color: rgba(48, 119, 198, 1);
  color: #ffffff;
  font-size: 24px;
  margin-right: -5px;
}


.download_icons {
  display: flex;
  justify-content: center;
}


.tcenter {
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.line {
  width: 100px;
  height: 4px;
  margin: 0 auto 80px;
  background-color: #f5bd41;
  border: none;
}

.support_icon {
  width: 76px;
  height: 92px;
}

.cmnctn_icon {
  width: 84px;
  height: 84px;
}

.book_icon {
  width: 100px;
  height: 67px;
}

.review_icon {
  width: 92px;
  height: 84px;
}

.block {
  display: flex;
}

.item {
  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.item_4 {
  width: 25%;
}

.textblock {
  font-weight: 400;
  font-size: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


/*@media screen and (min-width:0px) and (max-width:480px){*/
/*[class*="col-"]{*/
/*  width: 100%;*/
/*}*/
/*}*/
.footer {
  font-size: 20px;
  background-color: #10367C;
  border: none;
}

.mob_footer {
  display: none;
}

.block2 {
  display: flex;
}

.li {
  margin-left: 16px;
}

.title {
  font-weight: 500;
}

.list1 {
  margin-right: 224px;
}

.list2 {
  margin-right: 282px;
}

.s1 {
  margin-bottom: 23px;
}

.s14 {
  margin-bottom: 22px;
}

.s2 {
  margin-bottom: 24px;
}

.s21 {
  margin-bottom: 20%;
}

.s23 {
  margin-bottom: 22px;
}

.s24 {
  margin-bottom: 17%;
}

.s26 {
  margin-bottom: 16%;
}

.s31 {
  margin-bottom: 26px;
}

.s32 {
  margin-bottom: 10%;
}

@media screen and (max-width: 360px) {
  .col {
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    flex-grow: 1;
  }

  .textblock {
    font-size: 15px;
  }

  .line {
    display: none;
  }

  .item.col {
    margin: 0;
  }

  .item_4.col.tcenter {
    margin-top: 16px;
  }

  h4 {
    margin-bottom: 0;
    font-size: 28px;
  }

  .support_icon {
    width: 52px;
    height: 64px;
  }

  .cmnctn_icon {
    width: 58px;
    height: 58px;
  }

  .book_icon {
    width: 70px;
    height: 46px;
  }

  .review_icon {
    width: 64px;
    height: 58px;
  }

  .block2 {
    display: none;
  }

  .mob_footer {
    display: flex;
    text-align: center;
  }

  .mob_logo_trip_icon {

    width: 98px;
    height: 19px;
    fill: #ffffff;
    background-color: transparent;
    margin-top: -80px;
  }

  .mob_footer_list a {
    display: inline-flex;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
  }

  .mob_footer_list.col {
    margin-top: -25px;
  }

  .mob_f_href {
    margin: 5px;
  }

  .copy {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 25px;
  }
}


